<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BookMapper">
    
    <resultMap type="Book" id="BookResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="author"    column="author"    />
        <result property="category"    column="category"    />
        <result property="content"    column="content"    />
        <result property="count"    column="count"    />
        <result property="image"    column="image"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
    </resultMap>

    <sql id="selectBookVo">
        select id, name, author, category, content, count, image, status, create_time, create_user from book
    </sql>

    <select id="selectBookList" parameterType="Book" resultMap="BookResult">
        <include refid="selectBookVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="count != null "> and count = #{count}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
        </where>
    </select>
    
    <select id="selectBookById" parameterType="Integer" resultMap="BookResult">
        <include refid="selectBookVo"/>
        where id = #{id}
    </select>

    <insert id="insertBook" parameterType="Book">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="author != null">author,</if>
            <if test="category != null">category,</if>
            <if test="content != null">content,</if>
            <if test="count != null">count,</if>
            <if test="image != null">image,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="author != null">#{author},</if>
            <if test="category != null">#{category},</if>
            <if test="content != null">#{content},</if>
            <if test="count != null">#{count},</if>
            <if test="image != null">#{image},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
         </trim>
    </insert>

    <update id="updateBook" parameterType="Book">
        update book
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="author != null">author = #{author},</if>
            <if test="category != null">category = #{category},</if>
            <if test="content != null">content = #{content},</if>
            <if test="count != null">count = #{count},</if>
            <if test="image != null">image = #{image},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBookById" parameterType="Integer">
        delete from book where id = #{id}
    </delete>

    <delete id="deleteBookByIds" parameterType="String">
        delete from book where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>