<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="deliveryDate"    column="delivery_date"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="items"    column="items"    />
    </resultMap>

    <sql id="selectOrderVo">
        select id, user_id, total_price, delivery_date, order_status, items from `order`
    </sql>

    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
    </select>
    
    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertOrder" parameterType="Order">
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="deliveryDate != null">delivery_date,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="items != null">items,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="deliveryDate != null">#{deliveryDate},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="items != null">#{items},</if>
         </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="items != null">items = #{items},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        delete from order where id = #{id}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        delete from order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>